 body{
    margin: 0;
    padding: 0;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/67/16/43/671643426f6e8e8e4c92f0cc720fff1d.jpg);
 }

 .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
 }
 .slides{
    width: 500%;
    height: 500px;
    display: flex;
 }
 .slides input{
    display: none;
 }
 .slide{
    width: 20%;
    transition: 2s;
 }
 .slide img{
    width: 800px;
    height: 390px;
 }

 .navigation-manual{
    position: center;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

 }
 .manual-btn{
    border: 2px solid rgb(187, 8, 8);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
 }

 .manual-btn:not(:last-child){
    margin-right: 40px;
 }

 .manual-btn:hover{
    background: rgb(187, 8, 8);
 }

 .slide-first{
    width: 200px;
 }

 #radio1:checked ~ .first{
    margin-left: 0;
 }
 #radio2:checked ~ .first{
    margin-left: -20%;
 }

 .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;

 }
 .navigation-auto div{
    border: 2px solid rgb(187, 8, 8);
    padding: 5px;
    border-radius: 10px;
    transition: 1s; 
 }

 .navigation-auto div:not(:last-child) {
    margin-right: 40px;

 }



 /* Navbar styles */
.navbar {
    background: rgb(211, 14, 14);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 30;
    width: 98%;
    z-index: 1000;
}
.logo a {
    font-family: Arial, Helvetica;
    font-size: 35px; 
    font-weight: 600; 
    color: rgb(255, 255, 255);
}
li {
    list-style: none; display: inline-block;
}
li a{
    color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; margin: 15px;     
}
.button-container {
    display: flex;
    justify-content: center;    
    align-items: center;
}
button {
    background-color: white; 
    margin-left: 10px;
    border-radius: 10px; 
    padding: 3px; 
    width: 225px;
}
button a {
    color: rgb(117, 218, 97); 
    font-size: 15px; 
    font-weight: bold; 
}

.content {
    margin-top: 100px; 
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


